[Unit]
Description=IP Tunnel Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=<installation dir>/ip-tunnel-manager <configuration dir>/config.json
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
