[Unit]
Description=Run IP Tunnel Manager every 5 minutes
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=ip-tunnel-manager.service

[Install]
WantedBy=timers.target
